<div class="container" style="margin: 50px auto">
    <div class="row">
        <div class="col">
            <p class="text-right"> Hola {{usuario}} <a href="/admin/login/logout" 
            class="btn-sm btn-danger">Cerrar Sesión <i class="fas fa-sign-out"></i>
            </a></p>
        </div>
    </div>
</div>

{{!-- <h2>Lo vemos en M6U1</h2> --}}