body{
    background-color: aquamarine;
}
.academic{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aqua;
}

#hola{
    background-color: blanchedalmond;
}