#foto{
    width: 150px;
    height: 150px;
    margin-left: 120px;
    margin-right: 120px;
    border: 5px solid black;
}

.academic{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center; 
}

.hola{
    background-color: blanchedalmond;
}

.hola:hover{
    background-color: aquamarine;
}

.caja-azul{
    text-align: center;
    width: 150px;
    height: 30px;
    background-color: cadetblue;
    padding: 5px;
    border: 5px solid black;
    margin-left: 750px;
}

.caja-verde{
    text-align: center;
    background-color: chartreuse;
    border: 5px solid black;
    width: 150px;
    height: 220px;
    margin-left: 750px;
    box-shadow: 5 5 25px #888;
    break-inside: 5px;
}

.caja-verde:hover{
    background-color: burlywood;
}


a:hover{
    color: cadetblue;
}