<h1>Bienvenidos</h1>
<h2>Esta es la pagina de contacto</h2>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem nihil temporibus illum magnam optio praesentium suscipit quo. Labore, ducimus impedit sapiente dicta beatae fugit neque amet consequuntur maiores, enim hic!</p>