@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
    height: auto;
	font-size:100%;
}
#contenedor {
	width: auto;
    padding: 0%;
	background: #8FA68E;
	margin: 0 0 0 0;
	overflow: hidden;
}

#contenedor h1 {
    width: auto;
    height: 40px;
    background: #8FA68E;
}

nav {
	background-color: rgb(211, 182, 107);
	float: none;
    width: auto;
    padding: 10px;
}
ul {
	list-style-type:none;
}
a {
	color: black;
	text-decoration: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
}
section {
	background: #F1F2C0;
	float: none;
	margin: 0 0 0 0;
	width: auto;
    height: auto;
    padding: 5px;
}
aside {
	background: #CCC59E;
	float: none;
	width: auto;
    padding: 10px;
    height: 50%;
}