.Contenedor{
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
}

.item{
    height: 100px;
    width: 100px;
    font-size: 30px;
    
}

#Rojo {
    background-color: red;
}

#Azul {
    background-color: blue;
}

#Verde {
    background-color: green;
}